.festivaldetail_container {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}


.full-width {
  width: 95%;
}

.half-width {
  width: 45%;
}

.form-size {
  width: 75%;
}

#submitForm{
  margin-top: 5px;
}
