<div class="festivaldetail_container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="5px">

  <div fxFlex="40" *ngIf="festival">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ festival.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ BaseURL + festival.image}}" alt="{{festival.name}}">
      <mat-card-content>
        <p> {{festival.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <div class="button-row">
          <button mat-button [routerLink]="['/festivaldetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-raised-button (click)="openSnackBar()">LIKE</button>
          <button (click)="openSnackBar2()" mat-fab color="warn" matTooltip="Add this festival to the favorites...">
            <mat-icon>favorite border</mat-icon>
          </button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/festivaldetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="50">
    <mat-nav-list *ngIf="festival">
      <h3>{{festival.name | uppercase}} location</h3>
      <agm-map [latitude]="festival.latitude" [longitude]="festival.longitude">
        <agm-marker [latitude]="festival.latitude" [longitude]="festival.longitude"></agm-marker>
      </agm-map>

      <!--<p>{{submitForm.value | json}} {{submitForm.status | json }}</p>-->
      <h2>Share you comments or ...</h2>
      <button mat-raised-button color="primary"><a href="https://www.hotels.com/?pos=HCOM_US&locale=en_US"
                                                   target="_blank">...Book the hotel before travel</a></button>
      <mat-progress-bar mode="buffer" color="primary"></mat-progress-bar>
      <mat-card>
        <mat-card-content>
          <mat-list-item *ngFor="let festival_comment of festival.comments">
            <p mat-line>{{festival_comment.comment}}</p>
            <p mat-line>{{festival_comment.rating}} Stars</p>
            <p matLine>
              <span>--{{festival_comment.author}}</span>
              <span>{{festival_comment.date | date}}</span>
            </p>
          </mat-list-item>
          <mat-list-item *ngIf="submitForm.valid">
            <p mat-line>{{ submitForm.value.comment}}</p>
            <p mat-line>{{ submitForm.value.rating }} Stars</p>
            <p mat-line>--{{submitForm.value.author}}</p>
          </mat-list-item>
        </mat-card-content>
      </mat-card>
      <mat-card id="submitForm">
        <form novalidate [formGroup]="submitForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-input-container color="accent" class="full-width">
              <input matInput formControlName="author" placeholder="Name" type="text" required>
              <mat-hint>
                <span [hidden]="!(formErrors.author)">{{formErrors.author}}</span>
              </mat-hint>
            </mat-input-container>
          </p>
          <p>
            <mat-slider formControlName="rating" min="1" max="5" step="1" value="4" thumbLabel tickInterval="1"></mat-slider>
          </p>
          <p>
            <mat-input-container class="full-width" color="accent">
              <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
              <mat-hint>
                <span [hidden]="!(formErrors.comment)">{{formErrors.comment}}</span>
              </mat-hint>
            </mat-input-container>
          </p>
          <button type="submit" mat-button class="background-primary text-floral-white"
                  [disabled]="submitForm.invalid">Submit
          </button>
        </form>
      </mat-card>
    </mat-nav-list>
  </div>
</div>
<div [hidden]="festival || errMess">
  <mat-spinner></mat-spinner>
  <h4>Loading ...Please wait</h4>
</div>
<div *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
</div>
