.headers-align {
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  background-image: url("../../assets/img/wacken_ticket_avatar.png");
  background-size: cover;
}

.blockquote  {
  margin-bottom: 10px;
}
