<div class="contact_container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Contact Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          121, Clear Water Bay Road<br>
          Laggon Square<br>
          Miami<br>
          <i class="fa fa-phone"></i>: +852 1234 5678<br>
          <i class="fa fa-fax"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:confusion@food.net">travelbug@mail.net</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
          <a mat-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
        </div>
      </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h3>Send us your Feedback</h3>
    <!--<p>{{feedbackForm.value | json}} {{feedbackForm.status | json }}</p>-->
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <mat-card>
          <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
            <p>
              <mat-input-container class="half-width" color="accent">
                <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
                <mat-hint>
                  <span [hidden]="!(formErrors.firstname)">{{formErrors.firstname}}</span>
                </mat-hint>
              </mat-input-container>
              <mat-input-container class="half-width" color="accent">
                <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
                <mat-hint>
                  <span [hidden]="!(formErrors.lastname)">{{formErrors.lastname}}</span>
                </mat-hint>
              </mat-input-container>
              <mat-input-container class="half-width" color="accent">
                <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" required>
                <mat-hint>
                  <span [hidden]="!(formErrors.telnum)">{{formErrors.telnum}}</span>
                </mat-hint>
              </mat-input-container>
              <mat-input-container class="half-width" color="accent">
                <input matInput formControlName="email" placeholder="Email" type="email" email required>
                <mat-hint>
                  <span [hidden]="!(formErrors.email)">{{formErrors.email}}</span>
                </mat-hint>
              </mat-input-container>
            </p>
            <!--slide toggler-->
            <div fxLayout="row">
              <div fxFlex>
                <mat-slide-toggle formControlName="agree">May we contact you</mat-slide-toggle>
              </div>
              <div fxFlex>
                <mat-form-field color="accent">
                  <mat-select placeholder="How?" formControlName="contacttype">
                    <mat-option *ngFor="let ctype of contactType" [value]="ctype">
                      {{ ctype }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <p>
              <mat-input-container class="full-width" color="accent">
                <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
              </mat-input-container>

            </p>
            <div fxLayoutAlign="end">
              <!--<span class="flex-spacer"></span>-->
              <button type="submit" mat-raised-button class="text-floral-white"
              [disabled]="feedbackForm.invalid">Submit</button>
            </div>
          </form>
        </mat-card>
      </div>
      <div fxFlex fxFlexOffset="5" fxLayoutAlign="center center">
        <h1>Travel Bug Injection</h1>
        <img id="bug" src="/assets/img/logo.jpg" height=100 width=100 alt="Logo">
      </div>
    </div>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>See the progress of your feedback delivery <i class="fa fa-arrow-right" aria-hidden="true"></i>:</mat-card-title>
    </mat-card-header>
    <div fxFlex="40" *ngIf="preview" [@expand] >
      <mat-nav-list>
        <mat-list-item>
          <p mat-line>First Name: {{ preview.firstname}}</p>
          <p mat-line>Last Name: {{ preview.lastname }}</p>
          <p mat-line>Tel. Number{{ preview.telnum}}</p>
          <p mat-line>Email: {{ preview.email }}</p>
          <p mat-line>Contact you?: {{ preview.agree }}</p>
          <p mat-line>How?: {{ preview.contacttype }}</p>
          <p mat-line>Feedback: {{ preview.message }}</p>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-card>
  <div [hidden]="spinnerStatus">
    <mat-spinner></mat-spinner>
    <h3>Submitting Form</h3>
  </div>
</div>

