<div [ngStyle]="{'background-image':'url(./assets/img/festival.jpg)'}"
  class="festivals_container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h2>Festivals</h2>
      <hr>
    </div>
  </div>

  <div fxFlex *ngIf="festivals">
  <!--fxflex defines one flex unit-->
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile *ngFor="let festival of festivals" [routerLink]="['/festivaldetail', festival.id]">
      <img height="350px" src="{{BaseURL + festival.image}}" alt={{festival.name}}>
      <mat-grid-tile-footer>
        <h1 mat-line>{{festival.name | uppercase}}</h1>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
  <div [hidden]="festivals">
    <mat-spinner></mat-spinner> <h4>Loading ...Please wait</h4>
  </div>
</div>

